.idea
funsets/.idea/
funsets/project/project/
funsets/project/target/
funsets/target/
recfun/.idea/
recfun/project/project/
recfun/project/target/
recfun/target/
objsets/.idea/
objsets/project/project/
objsets/project/target/
objsets/target/
patmat/.idea/
patmat/project/project/
patmat/project/target/
patmat/target/
forcomp/.idea/
forcomp/project/project/
forcomp/project/target/
forcomp/target/
